#system interface
NET "clk" SLEW = FAST;
NET "clk" LOC = P40;
NET "nRst" IOSTANDARD = LVCMOS33;
NET "nRst" SLEW = SLOW;
NET "nRst" LOC = P48;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "clk_gen_ins/DCM_SP_INST.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
#debug inteface
NET "led[0]" LOC = P99 | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = P27 | IOSTANDARD = LVCMOS33;

#mcu interface
NET "mcu_data[0]" LOC = P3 | IOSTANDARD = LVCMOS33;
NET "mcu_data[1]" LOC = P4 | IOSTANDARD = LVCMOS33;
NET "mcu_data[2]" LOC = P5 | IOSTANDARD = LVCMOS33;
NET "mcu_data[3]" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "mcu_data[4]" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "mcu_data[5]" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "mcu_data[6]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "mcu_data[7]" LOC = P13 | IOSTANDARD = LVCMOS33;
NET "mcu_wr" LOC = P19 | IOSTANDARD = LVCMOS33;
NET "mcu_cmd_data_sw" LOC = P20 | IOSTANDARD = LVCMOS33;

NET "mcu_l3md" LOC = P34 | IOSTANDARD = LVCMOS33;
NET "mcu_l3clk" LOC = P30 | IOSTANDARD = LVCMOS33;
NET "mcu_l3data" LOC = P28 | IOSTANDARD = LVCMOS33;
NET "mcu_cs1" LOC = P29;
NET "mcu_cs0" LOC = P31;

#aduio interface
#codec1
NET "ad_l3md[0]" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "ad_l3clk[0]" LOC = P43 | IOSTANDARD = LVCMOS33;
NET "ad_l3data[0]" LOC = P49 | IOSTANDARD = LVCMOS33;
NET "ad_xclk[0]" LOC = P41 | IOSTANDARD = LVCMOS33 | IOSTANDARD = LVCMOS33;
NET "ad_ws[0]" LOC = P36 | IOSTANDARD = LVCMOS33;
NET "ad_bck[0]" LOC = P37 | IOSTANDARD = LVCMOS33;
NET "ad_do[0]" LOC = P33 | IOSTANDARD = LVCMOS33;
NET "ad_di[0]" LOC = P93 | IOSTANDARD = LVCMOS33;	#error

#codec2
NET "ad_l3md[1]" LOC = P62 | IOSTANDARD = LVCMOS33;
NET "ad_l3clk[1]" LOC = P61 | IOSTANDARD = LVCMOS33;
NET "ad_l3data[1]" LOC = P59 | IOSTANDARD = LVCMOS33;
NET "ad_xclk[1]" LOC = P60 | IOSTANDARD = LVCMOS33 | IOSTANDARD = LVCMOS33;
NET "ad_ws[1]" LOC = P56 | IOSTANDARD = LVCMOS33;
NET "ad_bck[1]" LOC = P57 | IOSTANDARD = LVCMOS33;
NET "ad_do[1]" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "ad_di[1]" LOC = P52 | IOSTANDARD = LVCMOS33;

#CODEC3
NET "ad_l3md[2]" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "ad_l3clk[2]" LOC = P77 | IOSTANDARD = LVCMOS33;
NET "ad_l3data[2]" LOC = P72 | IOSTANDARD = LVCMOS33;
NET "ad_xclk[2]" LOC = P73 | IOSTANDARD = LVCMOS33 | IOSTANDARD = LVCMOS33;
NET "ad_ws[2]" LOC = P70 | IOSTANDARD = LVCMOS33;
NET "ad_bck[2]" LOC = P71 | IOSTANDARD = LVCMOS33;
NET "ad_do[2]" LOC = P64 | IOSTANDARD = LVCMOS33;
NET "ad_di[2]" LOC = P65 | IOSTANDARD = LVCMOS33;

#codec4
NET "ad_l3md[3]" LOC = P90 | IOSTANDARD = LVCMOS33;
NET "ad_l3clk[3]" LOC = P89 | IOSTANDARD = LVCMOS33;
NET "ad_l3data[3]" LOC = P86 | IOSTANDARD = LVCMOS33;
NET "ad_xclk[3]" LOC = P88 | IOSTANDARD = LVCMOS33 | IOSTANDARD = LVCMOS33;
NET "ad_ws[3]" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "ad_bck[3]" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "ad_do[3]" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "ad_di[3]" LOC = P94 | IOSTANDARD = LVCMOS33;	#error



